{% load static %}

<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>
        {% block title %}
        {% endblock title %}
    </title>
</head>

<body>
    <div class="main-content">
        <div class="header-content">
            <header>
                {% block header %}
                <!-- header -->
                {% endblock header %}
            </header>
        </div>
        <div class="content">
            {% block content %}
            <!-- main content -->
            {% endblock content %}
        </div>
        <div class="footer-content">
            <footer>
                {% block footer %}
                <p>Transcargo S.A. {% now "Y" %}</p>
                {% endblock footer %}
            </footer>
        </div>
    </div>
{% block js %}
{% endblock js %}
</body>

</html>